@model puremy.Models.LoginViewModel

<h2>Login</h2>

<form method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <div class="checkbox-container">
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" />
            <span asp-validation-for="RememberMe"></span>
        </div>
    </div>
    <button type="submit">Login</button>
</form>

<div>
    <p>If you don't have an account yet, you can register <a asp-controller="Account" asp-action="Register" class="textlink">here</a>.</p>
</div>