<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - puremy</title>
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>

<body>
    <header>
<nav class="main-nav">
    <div class="nav-container">
        <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/logo.png" alt="Logo" style="height:20px;"></a>
        <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        @if (User?.Identity?.IsAuthenticated == true)
        {
            <a class="nav-item" asp-area="" asp-controller="Account" asp-action="MyPages">My Pages</a>
            <a class="nav-item" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
        }
        else
        {
            <a class="nav-item" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
            <a class="nav-item" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        }
    </div>
</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - puremy
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
