@model puremy.Models.BlogPost

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div>
        <input type="submit" value="Delete" />
    </div>
</form>