html {
  font-size: 14px;
}

.navbar {
  background-color: #333;
  border-bottom: none;
}

.navbar-brand {
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #ddd;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}